In [1]:
import pandas as pd
import pathlib

In [2]:
interim = pathlib.Path().cwd().parent.parent / 'data' / 'interim'

In [3]:
df = pd.read_csv(interim / 'public.csv')
# pbdf = pd.read_csv(interim / 'pbdf.csv')

In [6]:
# shdf.info()
# shdf.head()

In [4]:
# show dup by name_full, yob and date_positive for further cleaning
df[df.duplicated(subset=['date_positive','name_full', 'yob'], keep=False)].sort_values('date_positive')

,name_full,sex,yob,addr_dist_home,date_report,date_positive
1443,NGUYỄN THỊ THÙY TRANG,NỮ,1994.0,QA09,03/07/2021,02/07/2021
1553,NGUYỄN THỊ THÙY TRANG,NỮ,1994.0,QPNH,03/07/2021,02/07/2021
7819,NGUYỄN THỊ HẰNG,NỮ,1984.0,QA09,07/06/2021,04/07/2021
8711,NGUYỄN THỊ HẰNG,NỮ,1984.0,QA08,06/07/2021,04/07/2021
10468,NGUYỄN THÙY DUNG,NỮ,1983.0,QBCH,09/07/2021,05/07/2021
...,...,...,...,...,...,...
13107,LƯ CHẤN PHONG,NAM,2015.0,QA01,09/7/2021,08/07/2021
13139,TRẦN THỊ THÁI THANH,NỮ,1991.0,QA01,09/7/2021,08/07/2021
13761,NAN,NỮ,NaN,QPNH,09/7/2021,08/07/2021
12425,TRẦN THỊ THẮM,NỮ,1985.0,QBCH,08/07/2021,08/07/2021
15239,NGUYỄN THỊ HUỆ NHỎ,NỮ,1972.0,UNKN,10/07/2021,08/07/2021

In [5]:
# pbdf[pbdf.duplicated(subset=['date_positive','name_full', 'yob'], keep=False)].sort_values('date_positive')